<!DOCTYPE html>
<html lang="en">
  <head>
    <title>${title}</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>  </head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
	<script src="schedule.js"></script>
  </head>

  <body>
    {{html body}}
  </body>
</html>	