<div data-role="page" id="schedule">

	<div data-role="header">
		<h1>Schedule lunch</h1>
	</div>

	<div data-role="content">
		<div id="error"></div>
		<div> Your phone number =${phoneNumber}=</div>
		<form id="scheduleForm" action="schedule.html" method="post" class="ui-body ui-body-a ui-corner-all">
			<fieldset>
				<div data-role="fieldcontain">
					<label for="name">Name</label>
					<input id="name" type="text" name="name" />					
					<input id="phoneNumber" type="hidden" name="phoneNumber" value="${phoneNumber}"/>
					<label for="latitude">Lat:</label>
					<input id="latitude" type="text" name="latitude" size="10"/>
					<label for="longitude">Lon</label>
					<input id="longitude" type="text" name="longitude"  size="10"/>
				</div>					
				<button type="submit" data-theme="b" name="submit" value="submit-value">Register</button>
			</fieldset>
		</form>
	</div>
</div>


<div data-role="page" id="thankyou">

	<div data-role="header">
		<h1>VoteMeetEat.Com</h1>
	</div>

	<div data-role="content">
		<span>Thank you for scheduling lunch</span>
	</div>


</div>

